<button style="float:right" (click)="_servicesObj.addCounter()">Add Counter</button>
<h1>Contact</h1>
<div id="cont">
  For any kind of work related queries please find the below contacts.
  <ul>
    <li><a href="#" target="_blank"><i class="bi bi-phone"></i> Mobile - 96963302765</a></li>
    <li><a href="#" target="_blank"><i class="bi bi-envelope"></i> Email - sanjana@mail.com</a></li>
    <li><a href="#" target="_blank"><i class="bi bi-linkedin"></i> Linkedin - sanjana_reach</a></li>
    <li><a href="#" target="_blank"><i class="bi bi-facebook"></i> Facebok - profile-sanjana</a></li>
    <li><a href="#" target="_blank"><i class="bi bi-instagram"></i> Instagram - sanjana.j</a></li>
  </ul>
</div>
