<button style="float:right" (click)="_servicesObj.addCounter()">Add Counter</button>
<h1>Skills</h1>
<div id="skills">
  <p>Right from my college I have the interest to learn and develope code. Hence I learn to develope web pages and alos create applications usings java and python.</p>
  <ul>
    <li>Java Applications</li>
    <li>Python Applications</li>
    <li>Webpages using HTML, CSS, JS</li>
    <li>React and Angular</li>
    <li>Microsoft Azure</li>
    <li>Dotnet- Entity Framework, ASP.net, etc</li>
  </ul>
</div>
