<button style="float:right" (click)="_servicesObj.addCounter()">Add Counter</button>
<h1>Experience</h1>
<div id="exp">
  <ol>
    <li>
      <b>College Mini Project - Artificial intelligence</b> <br />
      To predict the members that makes the most typographical errors.
    </li>
    <li>
      <b> Final Year Project 1 - Python, Machine Learning</b><br />
      Title: Image to voice Conversion<br />
      Description: To convert an input image to voice that reads the text in the image and saved into mp3 format for further usage.
    </li>
    <li>
      <b>Final Year Project 1 - Python, AI</b><br />
      Title: Voice based prescription generator<br />
      Description: To generate a digital prescription that is dictated by the doctor and mail it directly to the patient email address.
    </li>
    <li>
      <b>Cognizant Internship - Dotnet Fullstack</b><br />
      Project Title: Manufacturing RFQ Management<br />
      Description: To develope a Management service that creates a synchorous component services for both clients and users.
    </li>
  </ol>
</div>
