<button style="float:right" (click)="_servicesObj.addCounter()">Add Counter</button>
<h1>Get to know about me</h1>
<hr />
<div id="intro">
<p>I'm Sanjana from Bangalore. I have completed my engineering in the stream of computer science and engineering at MITS college. I have secured an overall good cgpa and go onto my first job with Cognizant. I have been working as an intern at cognizant for 6 months and started to work as a full time employee here.
  </p>

<p>I work as a junior Developer here. I am trained in dotnet and fullstack technologies. </p>
  <h5>Technologies Known</h5>
<ul>
  <li>Python</li>
<li>Dotnet</li>
<li>Java</li>
<li>Angular</li>
  <li>HTML and CSS</li>
</ul>
</div>
