<button style="float:right" (click)="_servicesObj.addCounter()">Add Counter</button>
<h1>Things I do in my free time!!</h1>

<div id="hob">
  <div>
    <h2>Painting</h2>

    Painting is my go to pass time activity. I like to paint nature and comics. I take the inspiration from beautiful art pieces and try to match the level in them. Doing this relives me from the stress. Lets know some facts about painting.
    <ul>
      <li>
        Oil Paint Takes 2 Weeks To Dry!
      </li>
      <li>Acrylic Paints Take Between 10 Minutes to 2 Hours To Dry!</li>
    </ul>

    <img id="right" src="https://cdn.mos.cms.futurecdn.net/57wMkCKEJdBcTSN4ZJuaSd-1200-80.jpg" />
  </div>
  <div>
    <h2>Listening to Music</h2>
    Listening to music is my all time favourite activities. I listen telugu, hindi, english and tamil songs.
  </div>
 </div>
